.DS_Store
.idea
*.log
tmp/


.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
build.ninja
build/
cmake_install.cmake
compile_commands.json
configure.h
configure.h.in
rules.ninja
src/CMakeFiles/
src/cmake_isntall.cmake
art/token
